<p>title: Menghitung Karakter dan Kata pada String
description:</p>
<hr />
<p>Kita sudah belajar bagaimana menghitung banyaknya elemen array menggunakan fungsi <code>count()</code>, adapun untuk menghitung berapa banyak karakter pada sebuah string, kita gunakan fungsi <code>strlen()</code>, fungsi ini menerima satu input argumen, yaitu string yang akan dihitung karakternya.</p>
<pre><code>$message = "Hello world!";
echo strlen($message);</code></pre>
<p>Pada kode di atas, fungsi <code>strlen()</code> akan mengembalikan nilai jumlah karaker di dalam string <code>$message</code>, lebih lengkap tentang fungsi <code>stlen()</code> dapat dilihat pada halaman <a href="http://php.net/manual/en/function.strlen.php">manual</a>, adapun untuk menghitung jumlah kata pada string, kita dapat menggunakan fungsi <code>str_word_count()</code>.</p>
<pre><code>$message = "Hello world!";
echo str_word_count($message);</code></pre>
<p>Lebih lengkap tentang fungsi <code>_count()</code> dapat dilihat pada halaman <a href="http://php.net/manual/en/function.str-word-count.php">manual</a>. </p>
<h2>Praktek</h2>
<ul>
<li>
<p>Apa kira-kira output dari kode yang ada di editor? Jalankan program untuk melihat hasilnya.</p>
</li>
<li>
<p>Pada halaman manual PHP dijelaskan bahwa fungsi <code>str_word_count()</code> memiliki lebih dari 1 argumen. Panggillah fungsi tersebut di baris ke-6 sedemikian rupa sehingga menampilkan output seperti ini:</p>
<pre><code>Array ( [0] =&gt; Hello [6] =&gt; world )</code></pre>
</li>
</ul>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/manipulasi-menghitungkarakterdanstring"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>