<p>title: Mencari dan Mengganti Teks dalam String
description:</p>
<hr />
<p>Pada lesson sebelumnya pernah disinggung sekilas tentang fungsi <code>str_replace()</code>.  fungsi ini digunakan untuk mengganti suatu teks di dalam string dengan teks lain.</p>
<pre><code>str_replace($search, $replace, $subject, [$count]);</code></pre>
<p>Argumen <code>$search</code> diisi oleh string yang akan dicari untuk diganti, argumen <code>$replace</code> diisi oleh string yang menjadi pengganti. <code>$subject</code>diisi oleh string yang akan dicari dan diganti isinya. <code>$count</code> ini argumen opsional yang dapat kita isi oleh variabel yang akan berisi angka jumlah temuan string yang diganti.</p>
<pre><code>$pesan = "saya suka baso sapi, sate kambing dan iga bakar";
$hasil = str_replace("kambing", "ayam", $pesan);</code></pre>
<p>Pada contoh kode di atas, variabel <code>$hasil</code> akan berisi string <strong>&quot;saya suka baso sapi, sate ayam dan iga bakar&quot;</strong>, dimana kata kambing diganti menjadi ayam.</p>
<p>Kita juga dapat mencari lebih dari satu nilai, teks penggantinya pun dapat dibuat per teks yang dicari atau disamakan.</p>
<pre><code>$pesan = "saya suka baso sapi, sate kambing dan iga bakar";
$cari = array("sapi", "kambing");

$pengganti = "ayam";
$hasil = str_replace($cari, $pengganti, $pesan);

$pengganti = array("rudal", "maranggi");
$hasil2 = str_replace($cari, $pengganti, $pesan);</code></pre>
<p>Pada variabel <code>$hasil</code>, teks 'sapi' dan 'kambing' akan diganti jadi 'ayam', sedangkan pada variabel <code>$hasil2</code> teks 'sapi' akan menjadi 'rudal' dan teks 'kambing' menjadi 'maranggi'.</p>
<h2>Praktek</h2>
<p>Pada editor, di baris ke-4 buat variabel <code>$hasil</code>. Panggil fungsi <code>str_replace()</code>sedemikian rupa sehingga variabel <code>$hasil</code> berisi hanya huruf konsonannya saja dari string pada variabel <code>$pesan</code>.</p>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/mencari-mengganti-teks"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>