<p>title: Menghapus Karakter Berlebih
description:</p>
<hr />
<p>Dalam beberapa kasus, kita harus membersihkan suatu string dari karakter tambahan yang tidak diperlukan di awal atau akhir string. PHP sudah menyediakan fungsi untuk hal tersebut yakni <code>trim()</code>.</p>
<pre><code>$nama = " Toni Haryanto    ";
echo trim($nama);</code></pre>
<p>Argumen pertama fungsi <code>trim()</code> diisi dengan string yang hendak dibersihkan, fungsi ini juga memiliki argumen kedua <code>$character_mask</code>, yakni karakter yang hendak dipotong.
Argumen kedua memiliki nilai default &quot; \t\n\r\0\x0B&quot; yakni semua jenis <em>whitespace</em>.</p>
<p>Selain fungsi <code>trim()</code>, terdapat juga fungsi <code>rtrim()</code> untuk membersihkan hanya bagian akhir string, dan <code>ltrim()</code> untuk membersihkan bagian awal string.</p>
<h2>Praktek</h2>
<ul>
<li>Pada editor terdapat kode perulangan yang mencetak nama-nama hewan dari array. Jalankan program dan lihat output yang ditampilkan.</li>
<li>Setiap nama dipisahkan dengan koma. Dapatkah Kamu membersihkan koma berlebih yang ada di bagian akhir nama-nama tersebut?</li>
</ul>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/Manipulasi-MenghapusKarakterDepandanBelakangString"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>