<p>title: Pengertian Array
description:</p>
<hr />
<p>Pada pembahasan tipe data terdahulu sudah dijelaskan sekilas tentang array. Array (dikenal juga dengan istilah larik) adalah tipe data khusus yang dapat menyimpan lebih dari satu nilai dalam satu variabel. Misalnya kita punya beberapa nama hewan yang ingin diproses di dalam
program, maka kita dapat menyimpan ke dalam variabel seperti ini:</p>
<pre><code>$hewan1 = "ayam";
$hewan2 = "sapi";
$hewan3 = "kuda";</code></pre>
<p>Permasalahannya sekarang adalah bagaimana bila kita hendak melakukan pencarian nama hewan diantara daftar nama tersebut? Selain itu bagaimana bila kita ingin mencetak semua daftar nama yang boleh jadi tidak hanya ada 3-4 buah, tapi ratusan? disinilah peran Array.</p>
<p>Bila data nama hewan di atas disimpan dalam bentuk Array, maka sintaks penulisannya seperti ini:</p>
<pre><code>$hewan = array("ayam", "sapi", "kuda");</code></pre>
<p>Apabila kita hendak memanggil nilai dari array tersebut, kita dapat memanggil dengan menggunakan nomor indeksnya.</p>
<pre><code>echo $hewan[0]; // mencetak nilai "ayam"
echo $hewan[1]; // mencetak nilai "sapi"
echo $hewan[2]; // mencetak nilai "kuda"</code></pre>
<p>Indeks adalah nomor posisi nilai di dalam Array, nomor indeks dimulai dari 0.</p>
<h2>Praktek</h2>
<ul>
<li>
<p>Pada editor, terdapat variabel <code>$sayuran</code> yang berisi Array dari nama-nama sayuran. </p>
</li>
<li>
<p>Buat kode pada baris 4 dan seterusnya sehingga semua nama sayuran ditampilkan seperti ini:</p>
<pre><code>Beberapa nama sayuran:
1. kangkung
2. bayam
3. brokoli</code></pre>
</li>
<li>
<p>Gunakan tag <code>&lt;br /&gt;</code> untuk membuat baris baru, atau gunakan <em>ordered list</em> untuk penomoran otomatis.</p>
</li>
</ul>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/array-pengertianarray"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.            </p>