<p>title: Array Asosiatif
description:</p>
<hr />
<p>Selain menggunakan angka sebagai nomor indeks, kita juga dapat mengacu indeks pada array menggunakan nama indeks.
Perhatikan kode berikut:</p>
<pre><code>$profil[0] = 'Toni Haryanto';
$profil[1] = 'Bandung';</code></pre>
<p>Dari pada menggunakan nomor indeks seperti di atas, kita dapat menggunakan nama indeks agar lebih informatif.</p>
<pre><code>$profil['nama'] = 'Toni Haryanto';
$profil['domisili'] = 'Bandung';</code></pre>
<p>Kode di atas juga dapat ditulis seperti ini:</p>
<pre><code>$profil = array('nama' =&gt; 'Toni Haryanto', 'domisili' =&gt; 'Bandung');</code></pre>
<p>Atau agar lebih mudah dilihat, ditulis menggunakan indentasi:</p>
<pre><code>$profil = array(
    'nama' =&gt; 'Toni Haryanto', 
    'domisili' =&gt; 'Bandung'
);</code></pre>
<p>Perhatikan penulisan indeks array, antara nama indeks dan nilai terdapat operator <code>=&gt;</code>yang berfungsi sebagai penghubung antara indeks dan nilainya.
<strong>Tambahan</strong>: nama dan nomor indeks array biasa disebut dengan <em>key</em> dan nilai array biasa disebut dengan <em>value</em>.</p>
<h2>Praktek</h2>
<ul>
<li>
<p>Pada editor terdapat variabel <code>$kegemaran</code> berisi aktivitas, makanan dan minuman kegemaran, Agar lebih informatif, ganti array tersebut menjadi array asosiatif dengan mengganti nomor indeks 0 menjadi key <code>'aktivitas'</code>. </p>
</li>
<li>
<p>Nomor indeks 1 menjadi key <code>'makanan'</code> dan nomor indeks 2 menjadi key <code>'minuman'</code>, jalankan program dan output dari program mestinya menjadi:</p>
<pre><code>Array ( [aktivitas] =&gt; Berenang [makanan] =&gt; Singkong Keju [minuman] =&gt; Jus Alpukat )</code></pre>
</li>
</ul>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/array-arayasosiatif"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>