<p>title: Array Multidimensi
description:</p>
<hr />
<p>Kita dapat mengisi elemen array dengan nilai bertipe array lagi, ini dikenal dengan array bersarang atau Array Multidimensi, kedalaman array bersarang pada dasarnya tidak terbatas.</p>
<pre><code>$herbivora = array('kambing', 'sapi');
$karnivora = array('harimau', 'serigala');
$omnivora = array('ayam', 'monyet');

$binatang = array($herbivora, $karnivora, $omnivora);</code></pre>
<p>Pada contoh di atas, kita memiliki tiga buah variabel berisi array, yakni <code>$herbivora</code>, <code>$karnivora</code> dan <code>$omnivora</code>. Kemudian ketiga variabel tersebut kita simpan di dalam satu variabel array <code>$binatang</code>. Dengan demikian variabel <code>$binatang</code> adalah variabel dengan nilai bertipe array bersarang (berdimensi dua).</p>
<h2>Praktek</h2>
<ul>
<li>
<p>Jalankan kode yang ada di editor, pada kolom output klik tab Plain Text Kamu akan melihat struktur isi variabel array <code>$binatang</code> dalam bentuk array berindeks nomor. </p>
</li>
<li>
<p>Cobalah untuk mengganti nomor indeks pada variabel <code>$binatang</code> menjadi indeks string sehingga nilai array herbivora berindeks 'herbivora', begitu juga dengan nilai array karnivora dan omnivora.</p>
</li>
</ul>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/array-multidimensi2"></iframe>
<p>PLAIN TEXT</p>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/array-multidimensi"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor. </p>