<p>title: Menghitung Jumlah Isi Array
description:</p>
<hr />
<p>Adakalanya kita perlu mengetahui ada berapa banyak elemen yang terdapat di dalam suatu variabel array. Untuk itu kita dapat menggunakan fungsi <code>count()</code>.</p>
<pre><code>$binatang = array($herbivora, $karnivora, $omnivora);
echo count($binatang);</code></pre>
<p>Contoh kode di atas akan mencetak angka 3, karena variabel <code>$binatang</code> memiliki 3 buah nilai di dalamnya.</p>
<p>Bila kita ingin menghitung banyaknya elemen array pada variabel <code>$binatang</code> dan juga banyak elemen array yang bersarang di dalamnya (dengan kata lain menghitung semua elemen array pada array multidimensi), kita dapat menggunakan fungsi <code>count()</code> dengan mengisi parameter kedua dengan konstanta <strong>COUNT_RECURSIVE</strong> atau angka 1.
Lebih lengkap tentang fungsi <code>count()</code> dapat dilihat di halaman manual PHP <a href="http://php.net/manual/en/function.count.php">berikut</a>.</p>
<h2>Praktek</h2>
<ul>
<li>
<p>Perhatikan kode di editor dan coba jalankan program, berapa angka yang muncul?</p>
</li>
<li>
<p>Sekarang kita akan menghitung total banyaknya elemen array pada variabel <code>$binatang</code> dan juga elemen pada array yang bersarang di dalamnya. Pada baris ke-9, isi parameter kedua fungsi <code>count()</code>dengan angka 1, sehingga menjadi seperti ini:</p>
<pre><code>echo count($binatang, 1);</code></pre>
<p>Kira-kira berapa angka yang muncul di kolom output? Jalankan program untuk mengecek hasilnya.</p>
</li>
</ul>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/array-menghitungjumlahisiarray"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor. </p>