<p>title: Mengurutkan Nilai Array
description:</p>
<hr />
<p>Pengurutan biasa ditampilkan berdasarkan nilai tertinggi <code>arsort()</code>  atau niliai terendah <code>asort()</code>, pada contoh berikut, nilai yang ada pada array akan dimasukkan pada posisi index secara manual.
Untuk menampilkan array dapat digunakan dengan perintah <code>print_r</code> atau looping, pada PHP mengurutkan nilai angka dan nilai string sama saja, jadi kamu tinggal ganti nilainya saja.</p>
<h2>Praktek</h2>
<p>Implementasikan pada editor teks tersebut lihat apa yang terjadi ?</p>
<pre><code>//nilai tertinggi ke terendah
arsort($isinamavariabel);
//sisipkan pada baris ke 9 dan print_r pada baris ke 10
//nilai terendah ke tertinggi
asort($isinamavariabel);
//untuk mencetak
print_r($isinamavariabel);</code></pre>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/array-mengurutkannilaiarray"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor. </p>