<p>title: Memeriksa Adanya Nilai Tertentu di Array
description:</p>
<hr />
<p>Untuk memeriksa adanya nilai tertentu pada suatu array kita  bisa menggunakan sintaks <code>in_array</code>, sintaks <code>in_array</code> ini bertujuan untuk memeriksa suatu nilai di dalam sebuah array, fungsi <code>in_array</code> mengembalikan nilai TRUE jika nilai yang di cari ditemukan, dan mengembalikan nilai FALSE jika sebaliknya, jadi dibutuhkannya suatu pengkodisian if-else.</p>
<h2>Praktek</h2>
<ul>
<li>
<p>Perhatikan sintaks dan penjelasan berikut :</p>
<pre><code>in_array(search,array,type)
// Parameter merupakan Keterangan
// search merupakan kata kunci yang akan dicari
// array merupakan nilai array yang akan dibandingkan atau di cari dengan nilai search
// type merupakan fungsi pencarian untuk string yang dicari dan jenis tertentu dalam array</code></pre>
<p>​</p>
</li>
<li>
<p>Jika sudah paham kita bisa membuka Text Editor dan menyisipkan kode berikut kemudian simpan di localhost Kamu agar bisa di buka pada browser anda:</p>
<pre><code>&lt;?php
$ruangan = array("R101", "R102", "R103")
if (in_array("R101",$ruangan)) {
  echo "Ditemukan";
}
else {
  echo "Tidak di temukan";
}</code></pre>
<p>Output apa yang akan muncul tentunya jika bernilai True akan memunculkan output Ditemukan sedangkan jika False tentunya sebaliknya.</p>
</li>
</ul>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>