<p>title: Skup Variabel pada Fungsi
description:</p>
<hr />
<p>Di dalam PHP dikenal adanya skup variabel <em>local</em> dan <em>global</em>, ketika kita membuat sebuah variabel di dalam fungsi, maka skup variabel tersebut adalah <em>local</em> yang berarti hanya dapat diakses di dalam fungsi tersebut.</p>
<pre><code>function cetakPesan(){
    $pesan = "Halo Coder!";
    echo $pesan;
}

echo $pesan;</code></pre>
<p>Pada contoh kode di atas, variabel <code>$pesan</code>terdapat di dalam fungsi dan hanya dapat digunakan di dalam fungsi. Kode <code>echo $pesan;</code>yang ada di luar fungsi akan menghasilkan error pada program.</p>
<p>Begitu pula sebaliknya, variabel yang ada di luar fungsi pada dasarnya tidak dapat diakses dari dalam fungsi.</p>
<pre><code>$pesan = "Halo Coder!";

function cetakPesan(){
    echo $pesan;
}</code></pre>
<p>Pada contoh kode di atas baris kode <code>echo $pesan;</code> yang ada di dalam fungsi tidak akan menghasilkan apapun (reallnya akan menampilkan pesan error) karena variabel <code>$pesan</code> di dalam fungsi adalah variabel baru yang skupnya lokal dan bukan variabel yang ada di luar fungsi.</p>
<p>Keyword <code>global</code> meski demikian, dalam beberapa kasus mungkin kita sangat harus mengakses variabel skup global dari dalam fungsi. Hal ini dapat dilakukan dengan menggunakan kata kunci <code>global</code>.</p>
<pre><code>$message = "Toni";

function cetakPesan(){
    global $message;
    echo "Halo, " . $message . "!";
}</code></pre>
<p>Pada kode di atas, blok kode pada fungsi <code>cetakPesan()</code> menggunakan variabel <code>$message</code>yang berasal dari luar fungsi dengan terlebih dahulu mendeklarasikan <code>global $message;</code>sehingga variabel tersebut dapat digunakan dan dipengaruhi dari dalam fungsi.</p>
<h2>Praktek</h2>
<ul>
<li>Pada editor terdapat kode berisi sebuah fungsi untuk mengkuadratkan nilai dari variabel <code>$x</code>. Pada baris ke-9 dan 11 kita mencetak nilai variabel <code>$x</code> sebelum dan sesudah dikuadratkan. Jalankan program dan lihat output apa yang muncul.</li>
<li>Nampaknya nilai <code>$x</code> sebelum dan sesudah dikuadratkan masih sama. Itu terjadi karena variabel <code>$x</code> masih belum bisa diakses di dalam fungsi <code>kuadrat()</code>. Tambahkan keyword global untuk variabel <code>$x</code> di dalam fungsi <code>kuadrat()</code>, pada baris ke-4 tambahkan baris baru untuk menulis kode <code>global $x;</code>. Lalu jalankan kembali program.</li>
</ul>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/funsi-skup%20variabelpadafungsi"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>