<p>title: Argumen Default Fungsi
description:</p>
<hr />
<p>Apa yang terjadi bila suatu fungsi memiliki misalnya dua buah argumen dan kita hanya mengisi salah satunya atau tidak mengisi kedua argumen tersebut saat pemanggilan? Program tentunya akan memunculkan pesan peringatan bahwa fungsi tersebut memerlukan input pada argumennya.</p>
<p>Namun ada kalanya suatu fungsi membolehkan beberapa argumen tidak wajib diisi (opsional), seperti contoh fungsi <code>count()</code> yang sudah kita pelajari terdahulu. Hal yang sama juga dapat kita lakukan pada fungsi yang kita buat sendiri, yakni dengan mendefinisikan nilai bawaan pada argumen.</p>
<pre><code>function cetakPesan($nama, $bahasa = "id") {
    $pesan = "Selamat datang, $nama.";

    if($bahasa == "en")
        $pesan = "Welcome, $nama.";

    echo $pesan;
}</code></pre>
<p>Sebagai contoh, fungsi <code>cetakPesan()</code> di atas memiliki dua buah argumen. Argumen <code>$nama</code>wajib diisi saat pemanggilan fungsi karena tidak diset nilai bawaannya, sedangkan argumen <code>$bahasa</code> tidak wajib diisi karena sudah memiliki nilai default.</p>
<h2>Praktek</h2>
<ul>
<li>Jalankan kode program dan amati keluarannya. Modifikasi pemanggilan fungsi di baris ke-12 dengan mengisikan argumen kedua dengan string &quot;en&quot; dan perhatikan output yang muncul. Mengapa bisa demikian?</li>
<li>Panggil fungsi dengan mengisi argumen kedua dengan string selain &quot;id&quot; dan &quot;en&quot;. Output apakah yang muncul?</li>
<li>Dapatkah Kamu memodifikasi kode pada fungsi sehingga bila argumen kedua diisi string selain &quot;id&quot; dan &quot;en&quot; (misalnya diisi string &quot;it&quot; atau &quot;ar&quot;) program akan mencetak pesan <strong>&quot;Mohon maaf bahasa yang diminta belum terdaftar.&quot;</strong>? <em>(Petunjuk: banyak teknik yang dapat Kamu gunakan, salah satunya dengan switch)</em></li>
</ul>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/fungsi-argumentdefaultfungsi"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>