<p>title: Mengembalikan Nilai Fungsi
description:</p>
<hr />
<p>Sejauh ini kita sudah belajar membuat fungsi untuk mengerjakan sejumlah proses yang dapat dipanggil secara berulang, tapi di banyak kesempatan kita tidak hanya perlu menjalankan sejumlah kode dan mencetak output, tapi juga menerima hasil dari proses yang dikerjakan. Seperti contoh fungsi <code>count()</code>yang bila dipanggil dia mengembalikan nilai jumlah elemen suatu variabel.</p>
<pre><code>$binatang = array('kuda', 'kucing', 'ayam');
$jumlah = count($binatang);</code></pre>
<p>Pada contoh kode di atas, variabel <code>$jumlah</code>akan bernilai 3 karena dia menerima nilai dari fungsi <code>count()</code>. Pada deklarasi fungsi sendiri, kita dapat mengembalikan nilai hasil pemanggilan suatu fungsi dengan menggunakan kata kunci <code>return</code>.</p>
<pre><code>function luasSegitiga($alas, $tinggi){
    $luas = $alas * $tinggi / 2;
    return $luas;
}

//mencetak nilai 10
echo luasSegitiga(5, 4);

// variabel $hasil bernilai 15
$hasil = luasSegitiga(5, 6);</code></pre>
<p>Fungsi <code>luasSegitiga()</code> di atas menerima 2 argumen <code>$alas</code> dan <code>$tinggi</code> dan mengembalikan nilai luas segitiga berdasarkan nilai argumen yang dilewatkan.</p>
<h2>Praktek</h2>
<ul>
<li>
<p>Buatlah fungsi dengan nama <code>luasLingkaran()</code> mulai dari baris ke-4. Fungsi menerima satu argumen <code>$length</code> dan mengembalikan nilai luas lingkaran. Rumus luas lingkaran yang digunakan adalah <code>1/4 * 3.14 * $length * $length</code>. Dalam hal ini <code>$length</code> adalah diameter lingkaran. Jalankan program dan mestinya output pertama menampilkan <strong>&quot;luas berdasarkan diameter: 153.86&quot;</strong>.</p>
<pre><code>function luasLingkaran($length){
return 1/4 * 3.14 * $length * $length;
}</code></pre>
</li>
<li>
<p>Buatlah argumen kedua <code>$use_diameter</code> dengan nilai default true. Bila argumen ini bernilai true, maka gunakan rumus luas lingkaran yang menggunakan diameter seperti langkah di atas. Bila argumen <code>$use_diameter</code> bernilai false, maka gunakan rumus luas lingkaran yang menggunakan jari-jari/radius, <code>3.14 * $length * $length</code>. Bila program dijalankan maka output pertama dan kedua sama-sama menampilkan <strong>&quot;luas berdasarkan diameter: 153.86&quot;</strong>.</p>
<pre><code>function luasLingkaran($length, $use_diameter = true){
if($use_diameter)
    return 1/4 * 3.14 * $length * $length;

return 3.14 * $length * $length;
}</code></pre>
</li>
</ul>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/fungsi-mengembalikannilaifungsi"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>