<p>title: Membaca Isi File
description:</p>
<hr />
<p>Pada tahap sebelumnya kita telah mengenal apa itu fungsi yang digunakan untuk mengelola file pada php dan cara penulisanya, sekarang kita akan mengimplementasikan yang pertama yaitu membaca Isi File, kita asumsikan kalian sudah membuat file.txt yang tersimpan di localhost, jika belum kalian bisa membuat file.txt.</p>
<h2>Praktek</h2>
<ul>
<li>Buka Text Editor isi dengan tulisan &quot; saya ingin belajar php &quot;.</li>
<li>kemudian simpan file tersebut dengan ekstensi .txt, Saya membuat file dengan nama &quot;coba txt&quot;.</li>
</ul>
<p><img src="https://static.cdn-cdpl.com/source/81f07c333b0e4b27e50663623a2b999b/baca.png" alt="" /></p>
<ul>
<li>
<p>Kemudian buat file baru namun dengan ekstensi .php saya akan membuat &quot;baca.php&quot; yang dimana akan ada perintah membaca file &quot;coba.txt&quot; yang kita buat tadi.</p>
<pre><code>&lt;?php

$file = fopen("coba.txt","r");
echo $file;</code></pre>
<p>​</p>
</li>
<li>
<p>Simpan file baca.php tersebut di localhost usahakan satu folder dengan file.txt kamu kemudian buka dan lihat output apa yang akan muncul?
Jika sesuai maka akan muncul output seperti ini:
<img src="https://static.cdn-cdpl.com/source/81f07c333b0e4b27e50663623a2b999b/resource.png" alt="" /></p>
<p>Mengapa demikian? tepatnya kita belum benar benar memberikan fungsi read pada baca.php, kita akan memberikan suatu fungsi pada kode program baca.php, kemudian save file baca.php dan jangan lupa untuk refresh browser kamu.</p>
<pre><code>&lt;?php

$file = fopen("coba.txt","r");
echo fread ($file, 12); // "12" adalah inputan seberapa banyak kode php akan membaca karakter pada 
file coba.txt</code></pre>
</li>
<li>
<p>Maka outputnya akan seperti ini:</p>
<p><img src="https://static.cdn-cdpl.com/source/81f07c333b0e4b27e50663623a2b999b/saya.png" alt="" /></p>
<p>Maka yang akan muncul hanya tulisan di atas jumlah karakter yang dihitung termasuk spasi.</p>
</li>
<li>
<p>Rubah nilai tersebut agar seluruh teks tampil pada output.
Catatan Kamu bisa menambahkan fungsi baru.</p>
<pre><code>&lt;?php

$file = fopen("coba.txt","r");
echo nl2br(fread ($file, 120)); //nl2br merupakan fungsi agar ditampilkan sama persis dengan yang ada di file txt kamu.</code></pre>
<p>​</p>
</li>
</ul>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>