<p>title: Menghapus File di Folder
description:</p>
<hr />
<p>Pada PHP juga kita dapat melakukan penghapusan sebuah file  dengan menggunakan fungsi  <code>unlink</code>, pastikan kalian sudah memiliki file yang akan kalian hapus di localhost kalian.
Yang dimana fungsi ini dapat berguna ketika Kamu akan menghapus sebuah file pada directory atau folder tanpa harus membuka file tersebut secara manual, sebenarnya masih banyak lagi cara implementasi fungsi <code>unlink</code> yang bisa kalian terapkan, namun pada kali ini kita akan belajar dasar penggunaan unlink dengan menggunakan variabel.</p>
<p><img src="https://static.cdn-cdpl.com/source/81f07c333b0e4b27e50663623a2b999b/deserthapus.png" alt="" /></p>
<h2>Praktek</h2>
<ul>
<li>Didalam folder tersebut saya akan menghapus file dengan nama Desert.jpg dengan membuat fungsi seperti ini buatlah suatu variabel yang dimana variabel tersebut akan menyimpan nama folder dan file yang akan kalian hapus :</li>
</ul>
<pre><code>&lt;?php 
$hapus="Desert.jpg"; // jika kalian berada dilocalhost maka arahkan variabel menuju localhost kalian misal C:/xampp/htdocs/pengelolafile/Desert.jpg" 
unlink($hapus);</code></pre>
<ul>
<li>
<p>Kemudian simpan kode tersebut dengan nama hapusfile.php refresh browser kamu dan buka hapusfile.php dan cek kembali folder tersebut untuk memastikan file tersebut telah terhapus namun pada umumnya ketika kamu merefresh browser kalian file Desert akan langsung terhapus.</p>
<p><img src="https://static.cdn-cdpl.com/source/81f07c333b0e4b27e50663623a2b999b/hapusdesert.png" alt="" /></p>
</li>
</ul>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>