<p>title: Membuat dan Menghapus Folder
description:</p>
<hr />
<p>PHP telah menyediakan sebuah fungsi dimana fungsi tersebut dapat membantu kita membuat folder baru atau menghapus folder tersebut sesuai dengan keinginan kita.
Untuk membuat atau menghapus sebuah folder kita dapat menggunakan fungsi <code>mkdir()</code> dan <code>rmdir</code>  fungsi <code>mkdir</code> sendiri untuk membuat folder baru dan <code>rmdir</code> untuk menghapus folder tersebut.</p>
<h2>Praktek</h2>
<ul>
<li>
<p>Perhatikan kode dibawah ini:</p>
<pre><code>&lt;?php
mkdir('nama folder baru','aksi setelah membuat folder');
?&gt;</code></pre>
<p>Bisa dilihat pada kode di atas memiliki 2 parameter yang dimana parameter ke 2 tersebut bersifat opsional yang digunakan untuk melakukan behavior saat folder berhasil dibuat, sedangkan pada parameter pertama digunakan untuk memberi nama folder yang akan dibuat.</p>
</li>
<li>
<p>Buka Editor text Kamu lalu masukan kode pada bagian atas kemudian save ditempat folder yang telah Kamu sediakan sebelumnya dilocalhost, periksa folder tersebut adakah folder baru yang muncul? </p>
<p><img src="https://static.cdn-cdpl.com/source/81f07c333b0e4b27e50663623a2b999b/membuatmenghapus.png" alt="" /></p>
</li>
<li>
<p>Jangan lupa untuk merefresh browser Kamu lalu klik file membuatdanmenghapus.php dan periksa folder pada localhost Kamu apakah folder baru tersebut akan muncul atau tidak?</p>
<p><img src="https://static.cdn-cdpl.com/source/81f07c333b0e4b27e50663623a2b999b/folder_berhasil_dibuat.png" alt="" /></p>
</li>
<li>
<p>Kemudian ketika kita ingin menghapus folder yang baru kita buat tadi kita tinggal menggunakan fungsi <code>rmdir("namafolderkalian");</code></p>
<pre><code>&lt;?php
rmdir("nama folder baru");</code></pre>
<p>Simpan Text Editor Kamu yang berisikan perintah di atas, kemudian refresh browser Kamu kemudian klik file hapus.php. Karena saya telah menyimpan kode di atas dengan nama hapus.php. Jangan sampai salah hapus folder ok.</p>
</li>
</ul>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>