<p>title: Memindahkan File ke Folder lain
description:</p>
<hr />
<p>Dalam php kita dapat memindahkan file dari satu folder ke folder lain atau menduplikat file tersebut menggunakan fungsi <code>copy();</code>. Fungsi <code>copy();</code> sendiri digunakan untuk menyalin file, dan <code>rename();</code> digunakan untuk mengganti nama file sekaligus memindahkan file pada folder awal dengan folder tujuan. </p>
<p>Pada umumnya sintaksnya memiliki 3 parameter namun untuk context sendiri bersifat opsional <code>rename(oldname,newname,context);</code>
Sintaksnya sederhanya seperti ini <code>rename($folderawal,$folder tujuan);</code> dan <code>copy($folderawal,$folder tujuan);</code>. </p>
<h2>Praktek</h2>
<ul>
<li>
<p>Siapkan Text Editor kita, kemudian buatlah variabel terlebih dahulu <code>$folderAwal = "D:/data/file.txt";</code> dan jangan lupa folder tujuan juga dibuat kedalam variabel sama seperti folder awal kita hanya mengganti nama variabel dan mengganti tujuan file tersebut akan dipindah ke folder yang kita inginkan.</p>
<pre><code>&lt;?php
$folderAwal = "D:/data/file.txt";
$folderTujuan = "D:/fileku/file.txt";
copy($folderAwal, $folderTujuan);  // mengcopy file dari path awal ke path tujuan</code></pre>
</li>
<li>
<p>Sedangkan untuk <code>rename();</code> sama seperti copy namun yang membedakan kita bisa merubah nama file sesuai dengan keinginan kita.</p>
<pre><code>&lt;?php
$folderAwal = "D:/data/file.txt";
$folderTujuan = "D:/fileku/file2.txt";
rename($folderAwal, $folderTujuan);  // mengcopy file dari path awal ke path tujuan</code></pre>
</li>
<li>
<p>Simpan file.php di localhost Kamu di satu folder yang sama dimana file yang akan kalian pindahkan, kebetulan saya akan memindahkan suatu file.txt yang berada dilocalhost dan merubah namanya, jadi kodinganya akan seperti ini.</p>
<pre><code>&lt;?php
$folderAwal = "C:/xampp/htdocs/data/file.txt";
$folderTujuan = "C:/xampp/htdocs/fileku/file2.txt";
rename($folderAwal, $folderTujuan);  // mengcopy file dari path awal ke path tujuan</code></pre>
</li>
<li>
<p>Buka browser kita dan akses file.php lalu periksa folder tempat file tersebut berada.
<img src="https://static.cdn-cdpl.com/source/81f07c333b0e4b27e50663623a2b999b/semuaada.png" alt="" /></p>
<p><img src="https://static.cdn-cdpl.com/source/81f07c333b0e4b27e50663623a2b999b/fileku.png" alt="" /></p>
<p>Jika berhasil sebelumnya di folder data hanya ada satu file.txt kemudian kita akses file.php melalui browser dan hasilnya pada folder fileku terdapat file 2 file baru yang merupakan hasil dari copy dan rename tadi.</p>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>
</li>
</ul>