<p>title: Operator Assignment
description:</p>
<hr />
<p>Operator Assignment (penugasan) digunakan untuk menuliskan nilai pada suatu variabel, operator penugasan yang paling umum digunakan adalah operator 'sama dengan' <code>=</code>, operator ini digunakan untuk mengisi variabel yang ada di sebelah kiri dengan nilai yang ada di sebelah kanan, misalnya <code>$x = 2</code> berarti kita mengisi variabel <code>$x</code> dengan nilai <code>2</code>. Atau <code>$x</code> = <code>$y</code> yang berarti kita mengisi variabel <code>$x</code> dengan nilai yang ada di dalam variabel <code>$y</code>.</p>
<p>Selain itu kita dapat menyisipkan operator aritmatika sebelum tanda <code>=</code>, yang berarti mengisi variabel di sebelah kiri operator dengan hasil operasi dari variabel sebelah kiri sebelum diisi dengan nilai di sebelah kanan.
Agar lebih paham perhatikan tabel berikut:</p>
<table>
<thead>
<tr>
<th style="text-align: left;">Contoh</th>
<th style="text-align: left;">Serupa</th>
<th style="text-align: left;">Keterangan</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: left;"><code>$x</code> + <code>$y</code></td>
<td style="text-align: left;"><code>$x</code> = <code>$x</code> + <code>$y</code></td>
<td style="text-align: left;"><code>$x</code> Diisi dengan nilai <code>$x</code> sebelumnya ditambah nilai <code>$y</code></td>
</tr>
<tr>
<td style="text-align: left;"><code>$x</code> - <code>$y</code></td>
<td style="text-align: left;"><code>$x</code> = <code>$x</code>  -  <code>$y</code></td>
<td style="text-align: left;"><code>$x</code> Diisi dengan nilai <code>$x</code> sebelumnya dikurangi nilai <code>$y</code></td>
</tr>
<tr>
<td style="text-align: left;"><code>$x</code> * <code>$y</code></td>
<td style="text-align: left;"><code>$x</code> = <code>$x</code> * <code>$y</code></td>
<td style="text-align: left;"><code>$x</code> Diisi dengan nilai <code>$x</code> sebelumnya dikali nilai <code>$y</code></td>
</tr>
<tr>
<td style="text-align: left;"><code>$x</code> / <code>$y</code></td>
<td style="text-align: left;"><code>$x</code> = <code>$x</code> / <code>$y</code></td>
<td style="text-align: left;"><code>$x</code> Diisi dengan nilai <code>$x</code> sebelumnya dibagi nilai <code>$y</code></td>
</tr>
<tr>
<td style="text-align: left;"><code>$x</code> % <code>$y</code></td>
<td style="text-align: left;"><code>$x</code> = <code>$x</code> % <code>$y</code></td>
<td style="text-align: left;"><code>x</code> Diisi dengan nilai <code>$x</code> sebelumnya dibagi nilai <code>$y</code></td>
</tr>
<tr>
<td style="text-align: left;"><code>$x</code> ** <code>$y</code></td>
<td style="text-align: left;"><code>x</code> = <code>$x</code> ** <code>$y</code></td>
<td style="text-align: left;"><code>$x</code> Diisi dengan nilai <code>$x</code> sebelumnya dipangkatkan nilai <code>$y</code></td>
</tr>
</tbody>
</table>
<h2>Praktek</h2>
<p>Coba ganti operator penugasan pada kode baris ke-6 dengan operator lain dan lihat bagaimana outputnya!</p>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/operator-assignment"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>