<p>title: Operasi Increment-Decrement
description:</p>
<hr />
<p>Operator Increment-Decrement adalah operator yang digunakan untuk menaikkan atau menurunkan sebanyak satu dari nilai variabel yang dikenai operasi. Operator ncrement adalah tanda <code>++</code> yang disimpan sebelum atau sesudah variabel, operator decrement adalah tanda <code>--</code> yang disimpan sebelum atau sesudah operasi.
Agar lebih jelas lihat tabel berikut:</p>
<table>
<thead>
<tr>
<th style="text-align: left;">Operator</th>
<th style="text-align: left;">Nama</th>
<th style="text-align: left;">Keterangan</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align: left;"><code>++$x</code></td>
<td style="text-align: left;">Pre-increment</td>
<td style="text-align: left;">Tambah nilai <code>$x</code> sebanyak 1, kemudian kembalikan nilai <code>$x</code></td>
</tr>
<tr>
<td style="text-align: left;"><code>$x++</code></td>
<td style="text-align: left;">Post-increment</td>
<td style="text-align: left;">Kembalikan nilai <code>$x</code>, lalu tambah nilai <code>$x</code> sebanyak 1</td>
</tr>
<tr>
<td style="text-align: left;"><code>--$x</code></td>
<td style="text-align: left;">Pre-decrement</td>
<td style="text-align: left;">Kurangi nilai <code>$x</code> sebanyak 1, kemudian kembalikan nilai <code>$x</code></td>
</tr>
<tr>
<td style="text-align: left;"><code>$x--</code></td>
<td style="text-align: left;">Post-decrement</td>
<td style="text-align: left;">Kembalikan nilai <code>$x</code>, lalu kurangi nilai <code>$x</code> sebanyak 1</td>
</tr>
</tbody>
</table>
<h2>Praktek</h2>
<ul>
<li>
<p>Jalankan contoh kode yang ada pada editor, dan lihat output yang tampil.</p>
</li>
<li>
<p>Ganti kode di baris 4 menjadi <code>echo $x++;</code> dan jalankan. Bagaimana hasil outputnya? Mengapa?</p>
</li>
<li>
<p>Agar lebih jelas coba tampilkan lagi nilai <code>$x</code> di baris selanjutnya dengan kode <code>echo $x;</code>, lalu jalankan. Dapatkah Kamu menyimpulkan kondisi tersebut?</p>
</li>
<li>
<p>Eksplorasi dengan mengganti operator pada baris 4 dengan Operator Increment-Decrement lainnya dan perhatikan outputnya.</p>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/operator-increment-decrement"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.                 </p>
</li>
</ul>