<p>title: Operator Logika
description:</p>
<hr />
<p>Operator Logika digunakan untuk membandingkan dua pernyataan kondisi, kondisi yang dimaksud adalah nilai variabel atau hasil perbandingan variabel dalam tipe data boolean (TRUE dan FALSE).
Operator Logika yang tersedia diantaranya <code>and</code>, <code>or</code>, <code>xor</code> dan <code>not</code>.</p>
<table>
<thead>
<tr>
<th>Operator</th>
<th style="text-align: center;">Nama</th>
<th>Contoh</th>
<th>Keterangan</th>
</tr>
</thead>
<tbody>
<tr>
<td>and <code>&amp;&amp;</code></td>
<td style="text-align: center;">And</td>
<td><code>$x</code> <code>and</code> <code>$y</code>,<code>$x</code> <code>&amp;&amp;</code> <code>$y</code></td>
<td>TRUE hanya bila <code>$x</code> and <code>$y</code> keduanya bernilai TRUE</td>
</tr>
<tr>
<td>or ||</td>
<td style="text-align: center;">Or</td>
<td><code>$x</code> <code>or</code> <code>$y</code>, <code>$x</code> <code>||</code> <code>$y</code></td>
<td>TRUE bila salah satu atau keduanya dari <code>$x</code> atau <code>$y</code> bernilai TRUE</td>
</tr>
<tr>
<td>xor</td>
<td style="text-align: center;">Xor</td>
<td><code>$x</code> <code>xor</code> <code>$y</code></td>
<td>TRUE bila hanya salah satu saja (tidak keduanya) dari <code>$x</code> atau <code>$y</code> bernilai TRUE</td>
</tr>
<tr>
<td>!</td>
<td style="text-align: center;">Not</td>
<td><code>!$x</code></td>
<td>TRUE bila <code>$x</code> bernilai FALSE</td>
</tr>
</tbody>
</table>
<h2>Praktek</h2>
<p>Ganti nilai variabel <code>$x</code> dan <code>$y</code> pada editor menjadi <code>true</code> atau <code>false</code>, lalu jalankan program amati dan pelajari tiap-tiap outputnya.</p>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/operator-logika"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>