<p>title: Mengambil Data Checkbox Dan Radio
description:</p>
<hr />
<p>Saat ini kita akan membahas apa itu checkbox dan radio button, pada radio button memungkinkan  user untuk memilih beberapa pilihan sedangkan checkbox memungkinkan user memilih satu atau lebih dan bisa juga memilih semua pilihan.</p>
<h2>Penjelasan</h2>
<p>Untuk membuat radio button menggunakan tag <code>&lt;input&gt;</code> dengan atribut <code>type="radio</code>, seperti yang lainnya input radio button juga memiliki dua atribut yang dipakai untuk pemrograman, yaitu <code>name</code> dan <code>value.</code> Atribut <code>name</code> digunakan untuk mendefinisian identitas saat pengambilan data dari input radio button, dan satu lagi adalah atribut <code>value</code> yang merupakan nilai dari input radio button.</p>
<p>Saat membuat input radio button kita harus membuat nama yang sama pada masing-masing input, yang berbeda dari masing-masing input radio button adalah <em>value</em>-nya. Jumlah opsi minimal pada input radio button adalah dua dan jumlah maksimalnya belum saya ketahui, karena sejauh ini belum pernah mengalami kekurangan opsi saat membuat input radio button.</p>
<p>Untuk mendefinisi tiap-tiap input radio button, kita bisa menambahkan keterangan label setelah input radio button, dan sebaiknya salah satu kondisi input radio button sudah dicentang <code>checked</code> saat pertama kali load agar nantinya tidak mengembalikan nilai kosong, agar input radio button dalam kondisi dicentang saat load bisa digunakan atribut <code>checked</code>.</p>
<p>Kemudian untuk membuat input checkbox digunakan tag <code>&lt;input&gt;</code> dengan atribut <code>type=checkbox</code>. Selain itu ada dua atribut yang bisa dipakai, yaitu <code>name</code> dan <code>value</code>. Atribut name digunakan untuk mendefinisian identitas input checkbox yang nantinya diperlukan saat pengambilan data.</p>
<p>Jika digunakan banyak input checkbox, setiap input checkbox harus diberi nama yang berbeda, selain <code>name</code> ada lagi atribut <code>value</code> yang merupakan nilai sebuah input checkbox. Dalam menggunakan checkbox sebaiknya deberi label yang diletakkan seelah penulisan tag <code>&lt;input&gt;</code>. Hal ini berfungsi sebagai keterangan input checkbox bagi pengguna.</p>
<h2>Praktek</h2>
<ul>
<li>
<p>Pertama buka Text Editor anda, kemudian buat file dengan nama checkbox.php isikan skrip tag <code>&lt;form...&lt;/form&gt;</code> pada bagian tag <code>&lt;body&gt;..&lt;/body&gt;</code> didalam html kemudian pada form action gunakan metode <code>post</code> pada text editor Kamu.</p>
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
Pilih buah kesukaan Kamu :
&lt;form action="" method="post"&gt;
&lt;input type="checkbox" name="check1" value="Apel"&gt;Apel&lt;br/&gt;
&lt;input type="checkbox" name="check2" value="Jeruk"&gt;Jeruk&lt;br/&gt;
&lt;input type="checkbox" name="check3" value="Semangka"&gt;Semangka&lt;br/&gt;
&lt;input type="checkbox" name="check4" value="Salak"&gt;Salak&lt;br/&gt;
&lt;input type="submit" name="enter" value="Enter"&gt;
&lt;/form&gt;
&lt;?php include "proses.php";?&gt;  
&lt;/body&gt;
&lt;/html&gt;</code></pre>
</li>
<li>
<p>Kemudian buat kembali file dengan nama proses.php untuk memberikan script fungsi post agar dapat berjalan pada saat checkbox dijalankan atau dipilih.</p>
<pre><code>&lt;?php  
if(isset($_POST['enter']))  
{  
echo "Buah kesukaan anda:&lt;br/&gt;";  
if (isset($_POST['check1'])) {  
echo $_POST['check1']." &lt;br/&gt;";  
}  
if (isset($_POST['check2'])) {  
echo $_POST['check2']." &lt;br/&gt;";  
}  
if (isset($_POST['check3'])) {  
echo $_POST['check3']." &lt;br/&gt;";  
}  
if (isset($_POST['check4'])) {  
echo $_POST['check4']." &lt;br/&gt;";  
}  
}  
?&gt;  </code></pre>
</li>
<li>
<p>Lakukan pemanggilan proses.php pada file checkbox.php dengan menyisipkan kode php yaitu <code>&lt;?php include "proses.php";?&gt;</code> akses file checkbox.php melalui web browser Kamu dan lihat output yang terjadi.</p>
</li>
<li>
<p>Sedangkan untuk radio button sendiri kita bisa membuat file baru dengan nama radio.php script nya sama seperti checkbox, hanya input type saja yang membedakan jangan lupa sisipkan perintah <code>&lt;?php include "proses.php";?&gt;</code> .</p>
<pre><code>&lt;form action="" method="post"&gt;  
&lt;input type="radio" name="buah" value="Apel" checked&gt;Apel&lt;br/&gt;  
&lt;input type="radio" name="buah" value="Jeruk"&gt;Jeruk&lt;br/&gt;  
&lt;input type="radio" name="buah" value="Semangka"&gt;Semangka&lt;br/&gt;  
&lt;input type="radio" name="buah" value="Salak"&gt;Salak&lt;br/&gt;  
&lt;input type="submit" name="enter" value="Enter"&gt;  
&lt;/form&gt;  </code></pre>
</li>
<li>
<p>Kita buat kembali file proses.php dan scriptnya seperti ini kemudian simpan:</p>
<pre><code>&lt;?php  
if(isset($_POST['enter']))  
{  
 echo $_POST['buah'];  
}  
?&gt;  </code></pre>
</li>
</ul>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>