<p>title: Memvalidasi Data Dari Form
description:</p>
<hr />
<p>Form validasi sangat diperlukan dalam sebuah website, terkadang kita diharuskan membuat sebuah form yang datanya tidak boleh dikosongkan, ataupun input yang format isiannya ditentukan. Jika pengguna tidak memenuhi ketentuan pengisian form maka akan muncul peringatan bahwa pengisian form tersebut masih belum valid dan harus diperbaiki sebelum disubmit kembali.
Memvalidasi form berarti memeriksa masukan yang diajukan oleh pengguna ada dua jenis validasi form di aplikasi web, diantaranya:</p>
<ul>
<li><strong>Validasi Sisi Client </strong>: Validasi dilakukan pada browser web.</li>
<li><strong>Validasi Sisi Server</strong> : Setelah data diterima oleh server, pengecekan validasi data dilakukan oleh program di sisi server.</li>
</ul>
<table>
<thead>
<tr>
<th>Field</th>
<th>Aturan Validasi Isi</th>
</tr>
</thead>
<tbody>
<tr>
<td>Nama</td>
<td>Hanya huruf, titik dan spasi</td>
</tr>
<tr>
<td>Nomor</td>
<td>Hanya angka saja</td>
</tr>
<tr>
<td>Email</td>
<td>Sesuai dengan aturan alamat email, mengandung dot (.) dan at (@)</td>
</tr>
<tr>
<td>Website</td>
<td>Sesuai dengan aturan alamat URL standar</td>
</tr>
</tbody>
</table>
<h2>Praktek</h2>
<ul>
<li>VALIDASI NAMA
Dalam validasi nama aturan yang ditetapkan adalah menggunakan huruf kecil, huruf besar, titik dan spasi. Untuk proses validasi digunakan fungsi preg_match() dengan regular expression.perhatikan potongan scrip berikut ini :</li>
</ul>
<pre><code>//mengambil data dari form  
$nama = test_input($_POST["nama"]);  
// cek validasi text input sesuai aturan yang ditetapkan  
if (!preg_match("/^[a-zA-Z .]*$/",$nama)) {  
$namaErr = "Hanya huruf , titik dan spasi yang diijinkan"; // tampilkan pesan error nama
$nama ="";  //kosongkan variabel $nama 
}</code></pre>
<ul>
<li>VALIDASI NOMOR
Aturan validasi nomor adalah kebalikan dari nama, dimana data yang dimasukkan berupa angka dan tidak diijinkan memasukkan huruf. Untuk proses validasi digunakan masih sama yaitu menggunakan fungsi preg_match() dengan regular expression.</li>
</ul>
<pre><code>if (!preg_match("/^[0-9]*$/",$nomor))</code></pre>
<ul>
<li>VALIDASI EMAIL
Untuk proses validasi Email kita gunakan fungsi filter_var dengan parameter FILTER_VALIDATE_EMAIL. Cara ini lebih mudah dan simpel dari pada harus membuat regular expression jika menggunakan fungsi preg_match().</li>
</ul>
<pre><code> //mengambil data dari form  
 $email = test_input($_POST["email"]);  
 // cek format email yang dimasukkan  
 if (!filter_var($email, FILTER_VALIDATE_EMAIL)) {  
 $emailErr = "Format email tidak valid !"; //tampilkan pesan error email  
 $email=""; // kosongkan variabel $email  
 }  </code></pre>
<ul>
<li>
<p>VALIDASI WEBSITE
Pada proses validasi website ada dua aturan yang bisa dipilih, yaitu aturan baku dan tidak baku. Untuk aturan baku maka alamat website harus menggunakan <a href="http://google.com">http://google.com</a>. Sedangkan aturan tidak baku memperbolehkan penulisan dengan www, misal www.google.com.
Untuk proses validasi dengan aturan penulisan URL website baku kita bisa gunakan fungsi filter_var dengan parameter FILTER_VALIDATE_URL. Jika menggunakan fungsi ini maka pengguna harus benar-benar tepat dalam menulis alamat website sesuai aturan baku penulisan URL.
Contoh validasi alamat URL dengan fungsi filter_var():</p>
<pre><code>//mengambil data dari form  
$website = test_input($_POST["website"]);  
// cek format website yang dimasukkan  
if (!filter_var($email, FILTER_VALIDATE_URL)) {  
$websiteErr = "Format alamat Website tidak valid !"; //tampilkan pesan error website  
$website=""; // kosongkan variabel $website  
}  </code></pre>
<p>Contoh validasi alamat URL dengan fungsi preg_match() :</p>
<pre><code>//mengambil data dari form  
$website = test_input($_POST["website"]);  
// cek format website yang dimasukkan  
if (!preg_match("/\b(?:(?:https?|ftp):\/\/|www\.)[-a-z0-9+&amp;@#\/%?=~_|!:,.;]*[-a-z0-9+&amp;@#\/%=~_|]/i",$website)) {
$websiteErr = "Format alamat Website tidak valid !"; //tampilkan pesan error website  
$website=""; // kosongkan variabel $website  
}  </code></pre>
</li>
<li>
<p>Berikut di bawah ini adalah form validasi untuk nama,email,gender, Kamu bisa merubah potongan script dan mengeksplorasi lebih banyak seperti penjelasan di atas kemudian simpan script tersebut dengan nama form.php kemudian akses melalui browser Kamu.</p>
<pre><code>&lt;html&gt;

 &lt;head&gt;
    &lt;style&gt;
       .error {color: #FF0000;}
    &lt;/style&gt;
 &lt;/head&gt;

 &lt;body&gt;
    &lt;?php
       // define variables and set to empty values
       $nameErr = $emailErr = $genderErr = $websiteErr = "";
       $name = $email = $gender = $comment = $website = "";

       if ($_SERVER["REQUEST_METHOD"] == "POST") {
          if (empty($_POST["name"])) {
             $nameErr = "isi terlebih dahulu";
          }else {
             $name = test_input($_POST["name"]);
          }

          if (empty($_POST["email"])) {
             $emailErr = "isi terlebih dahulu";
          }else {
             $email = test_input($_POST["email"]);

             // check if e-mail address is well-formed
             if (!filter_var($email, FILTER_VALIDATE_EMAIL)) {
                $emailErr = "email tidak sesuai format"; 
             }
          }

          if (empty($_POST["website"])) {
             $website = "";
          }
          else {
             $website = test_input($_POST["website"]);
          }

          if (empty($_POST["comment"])) {
             $comment = "";
          }else {
             $comment = test_input($_POST["comment"]);
          }

          if (empty($_POST["gender"])) {
             $genderErr = "isi terlebih dahulu";
          }else {
             $gender = test_input($_POST["gender"]);
          }
       }

       function test_input($data) {
          $data = trim($data);
          $data = stripslashes($data);
          $data = htmlspecialchars($data);
          return $data;
       }
    ?&gt;

    &lt;h2&gt;Absolute classes registration&lt;/h2&gt;

    &lt;p&gt;&lt;span class = "error"&gt;* data belum terisi.&lt;/span&gt;&lt;/p&gt;

    &lt;form method = "post" action = "&lt;?php 
       echo htmlspecialchars($_SERVER["PHP_SELF"]);?&gt;"&gt;
       &lt;table&gt;
          &lt;tr&gt;
             &lt;td&gt;Name:&lt;/td&gt;
             &lt;td&gt;&lt;input type = "text" name = "name"&gt;
                &lt;span class = "error"&gt;* &lt;?php echo $nameErr;?&gt;&lt;/span&gt;
             &lt;/td&gt;
          &lt;/tr&gt;

          &lt;tr&gt;
             &lt;td&gt;E-mail: &lt;/td&gt;
             &lt;td&gt;&lt;input type = "text" name = "email"&gt;
                &lt;span class = "error"&gt;* &lt;?php echo $emailErr;?&gt;&lt;/span&gt;
             &lt;/td&gt;
          &lt;/tr&gt;

          &lt;tr&gt;
             &lt;td&gt;Time:&lt;/td&gt;
             &lt;td&gt; &lt;input type = "text" name = "website"&gt;
                &lt;span class = "error"&gt;&lt;?php echo $websiteErr;?&gt;&lt;/span&gt;
             &lt;/td&gt;
          &lt;/tr&gt;

          &lt;tr&gt;
             &lt;td&gt;Classes:&lt;/td&gt;
             &lt;td&gt; &lt;textarea name = "comment" rows = "5" cols = "40"&gt;&lt;/textarea&gt;&lt;/td&gt;
          &lt;/tr&gt;

          &lt;tr&gt;
             &lt;td&gt;Gender:&lt;/td&gt;
             &lt;td&gt;
                &lt;input type = "radio" name = "gender" value = "female"&gt;Female
                &lt;input type = "radio" name = "gender" value = "male"&gt;Male
                &lt;span class = "error"&gt;* &lt;?php echo $genderErr;?&gt;&lt;/span&gt;
             &lt;/td&gt;
          &lt;/tr&gt;

          &lt;td&gt;
             &lt;input type = "submit" name = "submit" value = "Submit"&gt; 
          &lt;/td&gt;

       &lt;/table&gt;

    &lt;/form&gt;

    &lt;?php
       echo "&lt;h2&gt;Your given values are as:&lt;/h2&gt;";
       echo $name;
       echo "&lt;br&gt;";

       echo $email;
       echo "&lt;br&gt;";

       echo $website;
       echo "&lt;br&gt;";

       echo $comment;
       echo "&lt;br&gt;";

       echo $gender;
    ?&gt;

 &lt;/body&gt;
&lt;/html&gt;</code></pre>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.<br />
​                             </p>
</li>
</ul>