<p>title: Menyimpan Data Dari Form ke Dalam File Json
description:</p>
<hr />
<p>Sebelum kita menyimpan data dari form ke dalam file json sebaiknya kita sedikit membahas apa itu JSON? Banyak orang menggunakan file JSON ini karena format datanya mudah dibaca, sangat fleksibel dan bisa digunakan untuk multiplatform. Biasanya API sebuah layanan dibuat dengan menggunakan file json. Untuk menggunakan JSON di PHP sangatlah mudah, syaratnya adalah ektensi JSON untuk PHP harus sudah terinstall. Secara default PHP versi 5.2.x sudah mengikut sertakan ektensi JSON.</p>
<h2>Praktek</h2>
<ul>
<li>
<p>Langkah pertama kita bisa membuat terlebih dahulu formnya dengan menggunakan array seperti ini simpan dengan nama  form.php: </p>
<pre><code>&lt;?php  
if(isset($_POST['btnOk'])){
$nim = $_POST['nim'];
$nama= $_POST['nama'];
$telp= $_POST['telp'];
foreach($nim as $key =&gt; $val){
echo 'Nomor Induk = '.$nim[$key].' Nama = '.$nama[$key].' Telp = '.$telp[$key].'&lt;br/&gt;';
    }
    //sisipkan disini
}
?&gt;
&lt;form method="get" name="frm" action=""&gt;
&lt;input name="jumlah" type="text" /&gt;
&lt;input type="submit" name="btnJumlah" value="Ok" /&gt;
&lt;/form&gt;
&lt;form method="post" name="frmpost" action=""&gt;
&lt;table width="547" border="0" cellpadding="0" cellspacing="0"&gt;
&lt;!--DWLayoutTable--&gt;
&lt;tr&gt;
&lt;td width="32" height="22" valign="top"&gt;No&lt;/td&gt;
&lt;td width="114" valign="top"&gt;NIM&lt;/td&gt;
&lt;td width="240" valign="top"&gt;Nama&lt;/td&gt;
&lt;td width="161" valign="top"&gt;Telp&lt;/td&gt;
&lt;/tr&gt;

&lt;?php
if(isset($_GET['jumlah']) &amp;&amp; $_GET['jumlah']&gt;0){
$jumlah_form = $_GET['jumlah'];
}
else{
$jumlah_form = 1;
}
for($i=1; $i&lt;=$jumlah_form; $i++){
?&gt;
&lt;tr&gt;
&lt;td height="23"&gt;&lt;?php echo $i; ?&gt;&lt;/td&gt;
&lt;td&gt;&lt;input name="nim[]" type="text" size="10" /&gt;&lt;/td&gt;
&lt;td&gt;&lt;input name="nama[]" type="text" size="30" /&gt;&lt;/td&gt;
&lt;td&gt;&lt;input type="text" name="telp[]" /&gt;&lt;/td&gt;
&lt;/tr&gt;

&lt;?php
}
?&gt;
&lt;tr&gt;
&lt;td height="23" colspan="4" align="right"&gt;&lt;input type="submit" name="btnOk" value="Simpan" /&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
&lt;/form&gt;</code></pre>
</li>
<li>
<p>Setelah form dibuat kita bisa menyisipkan potongan kode berikut pada script form-array.php, potongan kode ini berfungsi untuk menyimpan data yang di inputkan pada sebuah form yang telah Kamu buat tadi ke dalam file json atau dapat dikatakan data yang Kamu inputkan akan disimpan menjadi file json dengan nama data.json.</p>
<pre><code>$json = json_encode(array('data' =&gt; $nim, $nama, $telp));
// write json to file
if (file_put_contents("data.json", $json))
  echo "File JSON sukses dibuat...";
else 
  echo "Oops! Terjadi error saat membuat file JSON...";
}</code></pre>
</li>
<li>
<p>Jika sudah Kamu bisa akses form dan file json di web browser anda, pastikan xampp Kamu berjalan.</p>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.   </p>
<p>​</p>
</li>
</ul>