<p>title: Membuat Fungsi Crude
description:</p>
<hr />
<p>Kita akan menyimpan data dari suatu form artikel menggunakan file json jadi buat terlebih folder baru dengan nama posts setelah folder dibuat, selanjutnya kita menyiapkan file baru dengan nama add_post.php (create), edit_post.php (edit artikel), dan terakhir file delete_post.php.
Berikut beberapa script yang akan kita gunakan nantinya pada masing-masing file tersebut dan sesuai dengan kegunaanya.</p>
<h2>Praktek</h2>
<ul>
<li>
<p>Pertama buat file baru dengan nama add_post.php, jadi file ini berfungsi untuk membuat suatu form tulis artikel sehingga kita bisa membuat artikel.</p>
<pre><code>&lt;?php
session_start();
include('functions.php');
if(! isset($_SESSION['loggedin']))//pengkondisian dimana jika kita belum login maka form tulis artikel tidak akan muncul.
  exit('access forbidden');
if(isset($_POST['submit'])){
  $data['title'] = $_POST['title'];
  $data['content'] = $_POST['content'];
  $slug = time() .'-'. str_replace(" ", "-", $data['title']);
  if($result = write_post($slug, $data)){
      header('Location: edit_post.php?id='.$slug);
  } else {
      $error = "Error: " . $result;
  }
}
// deskripsi halaman
$judul = "Form Tambah Artikel";
$subjudul = "";
$banner_url = "assets/img/home-bg.jpg";
?&gt;
&lt;?php include('shared/header.php'); ?&gt;
  &lt;!-- Main Content --&gt;
  &lt;div class="container"&gt;
      &lt;div class="row"&gt;
          &lt;?php if(isset($error)): ?&gt;
              &lt;div class="alert alert-warning"&gt;&lt;?php echo $error; ?&gt;&lt;/div&gt;
          &lt;?php endif;?&gt;
          &lt;form action="add_post.php" method="post"&gt;
              &lt;label&gt;Judul Artikel&lt;/label&gt;
              &lt;input type="text" name="title" class="form-control"&gt;
              &lt;br&gt;
              &lt;label&gt;Konten Artikel&lt;/label&gt;
              &lt;textarea name="content" class="form-control" rows="20"&gt;&lt;/textarea&gt;
              &lt;br&gt;
              &lt;button type="submit" name="submit" value="submit"&gt;Simpan Artikel&lt;/button&gt;
          &lt;/form&gt;
      &lt;/div&gt;
  &lt;/div&gt;
  &lt;hr&gt;
&lt;?php include('shared/footer.php'); ?&gt;</code></pre>
</li>
<li>
<p>Selanjutnya membuat file edit_post.php agar artikel yang telah kita buat tadi bisa kita edit scriptnya seperti berikut:</p>
<pre><code>&lt;?php
session_start();
include('functions.php');
if(! isset($_SESSION['loggedin']))
  exit('access forbidden');
$id = $_GET['id'];
$file = $post_folder.'/'.$id.'.json';
if(!file_exists($file))
  die('post tidak ditemukan.');
$post = get_post_content($file);
if(isset($_POST['submit'])){
  $data['title'] = $_POST['title'];
  $data['content'] = $_POST['content'];
  if($result = write_post($id, $data)){
      header('Location: edit_post.php?id='.$id);
  } else {
      $error = "Error: " . $result;
  }
}
// deskripsi halaman
$judul = "Form Edit Artikel";
$subjudul = "";
$banner_url = "assets/img/home-bg.jpg";
?&gt;
&lt;?php include('shared/header.php'); ?&gt;
  &lt;!-- Main Content --&gt;
  &lt;div class="container"&gt;
      &lt;div class="row"&gt;
          &lt;?php if(isset($error)): ?&gt;
              &lt;div class="alert alert-warning"&gt;&lt;?php echo $error; ?&gt;&lt;/div&gt;
          &lt;?php endif;?&gt;
          &lt;form action="edit_post.php?id=&lt;?php echo $id; ?&gt;" method="post"&gt;
              &lt;label&gt;Judul Artikel&lt;/label&gt;
              &lt;input type="text" name="title" value="&lt;?php echo $post['title']; ?&gt;" class="form-control"&gt;
              &lt;br&gt;
              &lt;label&gt;Konten Artikel&lt;/label&gt;
              &lt;textarea name="content" class="form-control" rows="20"&gt;&lt;?php echo $post['content']; ?&gt;&lt;/textarea&gt;
              &lt;br&gt;
              &lt;button type="submit" name="submit" value="submit"&gt;Submit Artikel&lt;/button&gt;
          &lt;/form&gt;
      &lt;/div&gt;
  &lt;/div&gt;
  &lt;hr&gt;
&lt;?php include('shared/footer.php'); ?&gt;</code></pre>
</li>
<li>
<p>Terakhir yaitu membuat file delete_post.php agar kita bisa menghapus artikel yang kita buat jika sudah tidak diperlukan, scriptnya seperti berikut:</p>
<pre><code>&lt;?php
session_start();
include('functions.php');
if(! isset($_SESSION['loggedin']))
  exit('access forbidden');
$id = $_GET['id'];//pengambilan artikel yang mau dihapus melalui id,
$file = $post_folder.'/'.$id.'.json';
if(!file_exists($file))
  die('post tidak ditemukan.');
if(unlink($file)){
header('Location: index.php');
} else {
exit('Deleting Failed');
}</code></pre>
<p>Setelah semua telah dibuat kita kembali pada index.php untuk memanggil masing-masing fungsi pada setiap file yang telah kita buat sebelumnya, sekarang kita akan menyisipkan fungsi edit dan delete pada index.php buka kembali file index.php Kamu maka akan muncul tampilan seperti ini bila Kamu benar benar mengikuti tahapanya:</p>
<p><img src="https://static.cdn-cdpl.com/source/81f07c333b0e4b27e50663623a2b999b/indexs.png" alt="" /></p>
<p>Pada baris ke 29 di Text Editor saya akan menyisipkan potongan kode berikut:</p>
<pre><code>&lt;?php if(isset($_SESSION['loggedin'])): ?&gt;//fungsi akan aktif bila telah login
 &amp;bull; &lt;a href="edit_post.php?id=&lt;?php echo $post['slug']; ?&gt;"&gt;edit&lt;/a&gt; 
 &amp;bull; &lt;a href="delete_post.php?id=&lt;?php echo $post['slug']; ?&gt;"&gt;delete&lt;/a&gt;
 &lt;?php endif; ?&gt;
&lt;/p&gt;
&lt;/div&gt;
&lt;hr&gt;
&lt;?php endforeach; ?&gt;// jangan lupa untuk menghentikan perulangan foreach</code></pre>
<p>Kemudian simpan file index.php selanjutnya kita akan memberikan tulis artikel pada navigation agar ketika kita login, akan muncul pada bagian header khususnya navigation bersamaan dengan home dan about, Langsung saja buka header.php lalu tambahkan script berikut pada bagian <code>&lt;!-- Navigation --&gt;</code> </p>
<pre><code>&lt;?php if(isset($_SESSION['loggedin'])): ?&gt;
                  &lt;li&gt;
                      &lt;a href="add_post.php"&gt;+ Tulis Artikel&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                      &lt;a href="logout.php"&gt;Keluar&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;?php endif; ?&gt;</code></pre>
<p>Contohnya seperti ini:</p>
<p><img src="https://static.cdn-cdpl.com/source/81f07c333b0e4b27e50663623a2b999b/header_akhir.png" alt="" /></p>
<p>Kemudian simpan dan akses secara bertahap, pertama silahkan login terlebih dahulu dengan merujuk langsung pada url login ,kemudian tulis artikel sehingga artikel yang tersimpan dalam bentuk file json cek folder posts apakah ada file yang tersimpan. Jika sudah cek list artikel pada bagian home dan klik, jika artikel di klik maka akan merujuk pada bagian post.php (detail artikel), kembali pada menu home jika kalian telah login tentunya pada bagian list artikel akan muncul pilihan edit dan delete. </p>
<p>Lakukan simulasi dan perubahan jika dirasa masih ada yang kurang karena tutorial kali ini hanya mengajarka dasarnya saja, Kamu bisa mengexplore lebih jauh lagi.
Jika Kamu merasa kesulitan Kamu bisa akses template yang sudah jadi (cleanblog) sebagai bahan perbandingan, dan template mentahnya <a href="https://drive.google.com/drive/folders/1v5kVrI2HgtnMh6Et38shK9qGB8kyDlsa?usp=sharing">di sini.</a></p>
</li>
</ul>