<h2>Pengenalan PHP</h2>
<p>Selamat datang di platform belajar cepat dan interaktif untuk pengenalan <strong>PHP</strong> dasar CodePolitan. </p>
<h2>Sejarah Singkat PHP</h2>
<p><strong>PHP</strong> adalah salah satu bahasa pemrograman sisi server yang paling banyak digunakan di dunia pemrograman web. <strong>PHP</strong> umumnya ditulis di dalam sebuah dokumen file berekstensi .php dan sintaksnya dibuka oleh tag <code>&lt;?php</code> dan ditutup dengan tag <code>?&gt;</code>.</p>
<p>Pada awalnya <strong>PHP</strong> merupakan kependekan dari <strong>Personal Home Page</strong> (Situs personal), <strong>PHP</strong> pertama kali dibuat oleh <a href="https://www.codepolitan.com/orang-paling-jago-php-se-dunia/">Rasmus Lerdorf</a>  pada tahun 1995. </p>
<p>Pada waktu itu <strong>PHP</strong> masih bernama Form Interpreted (FI), yang wujudnya berupa sekumpulan skrip yang digunakan untuk mengolah data formulir dari web.</p>
<p>Versi terbaru bahasa pemrograman <strong>PHP</strong> adalah Versi 5.6.4 yang resmi dirilis pada tanggal 18 Desember 2014 yang kemudian diperbarui lagi dengan Versi 7.0.16 dan Versi 7.1.2 yang resmi dirilis pada tanggal 17 Februari 2017.</p>