<p>title: Hello World
description:</p>
<hr />
<h1>Halo Coders</h1>
<p>Selamat datang di platform belajar cepat dan interaktif untuk pengenalan PHP dasar CodePolitan. </p>
<p>PHP adalah salah satu bahasa pemrograman sisi server yang paling banyak digunakan di dunia pemrograman web. PHP umumnya ditulis di dalam sebuah dokumen file berekstensi .php dan sintaksnya dibuka oleh tag <code>&lt;?php</code> dan ditutup dengan tag <code>?&gt;</code> namun pada php versi terbaru teman-teman tidak perlu memberikan tag penutup melainkan teman-teman wajib memberikan tag pembuka.</p>
<h2>Praktek</h2>
<ul>
<li>Perhatikan editor kode di sebelah kanan pada editor tersebut Kamu dapat menuliskan program PHP dan menjalankannya dengan mengklik tombol &quot;Jalankan&quot;. </li>
<li>Hasil dari program PHP akan tampil di kolom output di sebelah kolom editor. </li>
<li>Coba ganti kode pada kolom editor agar output yang ditampilkan menjadi tertulis &quot;Halo Coders&quot;!</li>
</ul>
<pre><code class="language-php runner-php">&lt;?php 
echo 'Hello World';
?&gt;</code></pre>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>