<p>title: Tipe Data PHP
description:</p>
<hr />
<p>Tipe Data adalah jenis dari data yang digunakan pada sebuah variabel,
PHP mendukung tipe data berikut:</p>
<ul>
<li><strong>String</strong> adalah susunan dari huruf, angka dan karakter lainnya, seperti <code>"Halo Coders!"</code>. String ditulis dengan diapit oleh tanda kutip (&quot;) atau tanda petik (').</li>
<li><strong>Integer</strong> adalah tipe data angka non-desimal, dengan rentang -2,147,483,648 hingga 2,147,483,647.</li>
<li><strong>Float</strong> adalah tipe data angka desimal, tanda desimal yang digunakan adalah tanda titik.</li>
<li><strong>Boolean</strong> adalah tipe data yang menyatakan dua kondisi, <code>TRUE</code> dan <code>FALSE</code>.</li>
<li><strong>Array</strong> adalah tipe data yang digunakan untuk menyimpan lebih dari satu nilai data dalam satu variabel.</li>
<li><strong>Object</strong> adalah tipe data yang menyimpan nilai data beserta sejumlah operasi data, objek akan dibahas detail di pembahasan OOP.</li>
<li><strong>NULL</strong> adalah tipe data dengan satu nilai saja, yakni <code>NULL</code>, atau bisa dikatakan suatu variabel yang tidak berisi nilai dari Tipe Data lain, maka variabel tersebut bernilai <code>NULL</code>.</li>
</ul>
<p>Umumnya kita menampilkan nilai dari suatu variabel dengan menggunakan perintah <code>echo</code>, akan tetapi <code>echo</code> tidak akan menampilkan nilai dengan tipe data kompleks (yang tidak memiliki nilai tunggal). Untuk tipe data kompleks kita dapat menggunakan perintah <code>print_r()</code> atau <code>var_dump()</code>, fungsi <code>var_dump()</code> akan menampilkan output nilai berikut tipe datanya.</p>
<h2>Praktek</h2>
<ul>
<li>Pada kolom editor, Kamu dapat melihat sejumlah variabel dengan tipe data yang beragam, </li>
<li>Gunakan perintah <code>var_dump($namavar)</code> untuk setiap variabel </li>
<li>Lihat bagaimana nilai variabel tersebut ditampilkan.</li>
</ul>
<p>​                    <iframe width="100%" height="400" frameBorder="0" src="https://development.codepolitan.com/coding/editor/konsepdasar-tipedata"></iframe>       </p>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.             </p>