<p>title: Pernyataan do-while
description:</p>
<hr />
<p>Hampir sama dengan statemen <strong>while</strong> hanya saja pengecekan kondisi dilakukan di akhir. Sehingga program paling tidak menjalankan iterasi minimal satu kali. Secara umum format <strong>do while</strong> adalah sebagai berikut:</p>
<pre><code>do {
    // proses
    // iterasi
} while ( kondisi );</code></pre>
<p>Perhatikan kode berikut:</p>
<pre><code class="language-java">class DoWhileLoop {
    public static void main (String[] args) {
        int x = 0;

        do {
            System.out.println(x);
            x++;
        } while (x &lt; 10);
    }
}</code></pre>