<p>title: Perulangan Bersarang
description:</p>
<hr />
<p>Nested loop adalah istilah pemograman yang berarti membuat perulangan di dalam perulangan berikut perulangan bersarang menggunakan for.
Perhatikan contoh program berikut:</p>
<pre><code>&lt;?php
for ($i=0; $i &lt;10; $i++)
{
  for ($j=0; $j &lt;10; $j++)
  {
      echo $i;
  }
echo "&lt;br /&gt;";
}</code></pre>
<p>Dalam perulangan variabel <strong>counter $i</strong> digunakan untuk perulangan luar (<strong>outer loop</strong>), dan  variabel <strong>counter $j</strong> digunakan untuk perulangan dalam (<strong>inner loop</strong>).</p>
<h2>Praktek</h2>
<ul>
<li>
<p>Jika kita membuat perintah break pada perulangan <code>$j</code> (<strong>inner loop</strong>), maka yang akan dihentikan hanya perulangan <code>$j</code> saja, seperti pada contoh program berikut ini:</p>
<pre><code>&lt;?php
for ($i=0; $i &lt;10; $i++)
{
for ($j=0; $j &lt;10; $j++)
{
  if ($i==4)
  {
    break;
  }
  echo $i;
}
echo "&lt;br /&gt;";
}</code></pre>
<p>​</p>
</li>
<li>
<p>Dengan memberikan perintah <strong>break</strong> pada perulangan <strong>$j</strong>, maka perulangan <strong>$j</strong> akan berhenti pada angka 4, namun perulangan <strong>$i</strong> akan terus berjalan. Bagaimana jika kita juga ingin menghentikan perulangan <strong>$i</strong>?</p>
<p>Caranya adalah dengan mengubah perintah <strong>break</strong> di atas menjadi <strong>break 2</strong>. Angka 2 bertujuan untuk memberitahu PHP bahwa perintah break ditujukan untuk 2 level perulangan di atasnya.</p>
</li>
</ul>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/perulangan-bersarang"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>