<p>title: Statemen break
description:</p>
<hr />
<p>Penggunaan <strong>break</strong> digunakan untuk memutus perulangan. Biasanya break digunakan bersamaan dengan pengecekan kondisi menggunakan if atau switch. Pengecekan kondisi dibuat di dalam blok kode yang diulang.</p>
<p>Statemen <em>break</em> dapat digunakan untuk menginterupsi semua jenis statemen perulangan, baik itu for, while dan do-while.  </p>
<pre><code class="language-java">class BreakLoop {
    public static void main (String[] args) {
        String[] sayuran = {"bayam", "kangkung", "tomat", "mentimun", "tomat", "selada", "brokoli"};

        System.out.println("Mencari tomat di array sayuran:");

        for (String sayur: sayuran){
            System.out.println(sayur);

            if (sayur == "tomat"){
                System.out.println("Tomat ditemukan. That's what I need.");
                break;
            }
        }
    }
}</code></pre>