<p>title: Perintah break
description:</p>
<hr />
<p>Ketika proses perulangan berjalan, ada kalanya kita ingin segera keluar dari perulangan jika sebuah kondisi tertentu telah terpenuhi, sehingga sisa proses perulangan tidak perlu dijalankan.</p>
<p>Perintah <strong>break</strong> dapat di letakkan di posisi manapun di dalam perulangan, namun biasanya kita akan membuat <strong>logika IF</strong> untuk menentukan kapan perintah <strong>break</strong> akan dijalankan.  </p>
<h2>Praktek</h2>
<ul>
<li>
<p>buat logika if sisipkan pada perulangan dengan menggunakan perintah <strong>break</strong>:</p>
<pre><code>if ($i==13)
{
break;
}             </code></pre>
</li>
<li>
<p>Rubah proses henti perulangan pada angka yang Kamu inginkan? caranya rubah pada logika if angka <code>13</code> logika if tersebut akan menghentikan proses perulangan,sesuai dengan angka yang telah ditentukan pada variabel <code>$i</code> pada logika if.</p>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/perulangan-perintahbreak"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>
</li>
</ul>