<p>title: Statemen continue
description:</p>
<hr />
<p>Penggunaan <strong>continue</strong> digunakan untuk meneruskan langsung ke perulangan selanjutnya. Seperti halnya <code>break</code>, <code>continue</code> biasanya digunakan bersamaan dengan pengecekan suatu kondisi.</p>
<p>Bila pada <code>break</code> perulangan akan dihentikan sama sekali, pada <code>continue</code> perulangan akan dilewatkan ke iterasi selanjutnya.</p>
<pre><code class="language-java">class Main {
    public static void main (String[] args) {

        // cetak hanya angka ganjil saja
        for (int i = 0; i &lt; 20; i++) {

            // bila habis dibagi dua
            // lanjutkan ke iterasi selanjutnya
            if (i % 2 == 0) {
                continue;
            }

            // bila kondisi di atas terpenuhi
            // kode di bawah ini akan dilewati
            System.out.println(i);

        }
    }
}</code></pre>