<p>title: Perulangan Foreach
description:</p>
<hr />
<p>Perulangan dengan statemen <code>foreach</code> hanya berlaku pada variabel array, digunakan untuk mengulang membaca setiap elemen array.</p>
<pre><code class="language-php+HTML">foreach ($array as $value) {
    // kode yang akan dijalankan berulang
}</code></pre>
<p>Untuk setiap iterasi, nilai dari setiap elemen dapat diambil melalui variabel <code>$value</code>. Pointer array akan menyusuri satu per satu elemen array hingga sampai pada elemen terakhir.</p>
<pre><code>$warna = array("merah", "jingga", "kuning"); 

foreach ($warna as $value) {
    echo "$value &lt;br&gt;";
}</code></pre>
<p>Pada contoh kode di atas, kode <code>foreach</code> akan menyusuri satu per satu elemen array <code>$warna</code>, kemudian nilai setiap elemen dapat diakses melalui variabel <code>$value</code>. Pada blok kode variabel <code>$value</code> ini dicetak satu per satu dari awal hingga akhir elemen.</p>
<h3>Mengambil key dan value</h3>
<p>kita dapat memanggil tidak hanya nilai elemen array, tapi juga indeks arraynya, dengan mendefinisikan variabel <code>$key</code> diikuti tanda panah <code>=&gt;</code> sebelum variabel <code>$value</code>.</p>
<pre><code>$warna = array("merah", "jingga", "kuning"); 

foreach ($warna as $key =&gt; $value) {
    echo "Indeks ke-$key berwarna $value &lt;br&gt;";
}</code></pre>
<p>Kode di atas akan mencetak tidak hanya nilai dari nama-nama warna yang ada dalam array, tapi juga nomor indeks arraynya. Output kode di atas akan tampak seperti ini:</p>
<pre><code>Indeks ke-0 berwarna merah 
Indeks ke-1 berwarna jingga 
Indeks ke-2 berwarna kuning </code></pre>
<h2>PRAKTEK</h2>
<ul>
<li>
<p>Pada editor terdapat kode untuk mencetak data dari array <code>$kegemaran</code>. Jalankan program dan lihat outputnya.</p>
</li>
<li>
<p>Pada kode yang sudah ada, jenis kegemaran belum tercantum. Modifikasi kode sehingga output kode tidak hanya menampilkan kegemaran, tapi juga jenis kegemarannya. Jenis kegemaran dapat diakses pada indeks elemen array. Output program harus tampak seperti ini:</p>
<pre><code>Kegemaran saya: 
aktivitas: Berenang 
makanan: Singkong Keju 
minuman: Jus Alpukat </code></pre>
</li>
</ul>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/perulangan-foreach"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>