<p>title: Infinity Loop
description:</p>
<hr />
<p>Ketika membuat kondisi akhir dari perluangan for, kita harus memperhatikan <em>kapan kondisi akhir tersebut dipenuhi</em>. Jika kondisi akhir tidak pernah terpenuhi, maka perulangan akan berjalan selamanya. Hal ini dikenal dengan <strong>infinity loop</strong>.</p>
<h2>Praktek</h2>
<p>Jalankan dan lihat output apa yang akan terjadi:</p>
<pre><code class="language-java">&lt;?php
for ($i= 20; $i &gt;= 1; $i++)
{
   echo $i;
   echo "&lt;br /&gt;";
}</code></pre>
<p>Jika Kamu menjalankan kode tersebut, proses perulangan akan berjalan terus menerus, sehingga untuk menghentikannya kita harus menutup paksa <em>web browser</em>.</p>
<p>Kesalahan dari <strong>struktur for</strong> tersebut adalah pada kondisi akhir dari perulangan, dimana saya membuat <strong>$i &gt;= 1</strong>, sehingga ketika nilai awal variabel counter <strong>$1</strong> adalah 20, dan dalam tiap perulangan <strong>$i</strong> ditambah 1, maka nilai <strong>$i</strong> akan selalu lebih besar dari 1, sehingga kondisi akhir tidak akan pernah terpenuhi, dan <strong>$i &gt;= 1</strong> akan selalu benar.</p>
<iframe width="100%" height="400" frameborder="0" src="https://development.codepolitan.com/coding/editor/perulangan-infinityloop"></iframe>
<p>Bila Kamu sudah mencoba skenario program dan sudah paham dengan materi yang disampaikan, klik tombol &quot;Next Lesson&quot; di bawah editor.</p>